<%# relation_posts: 呼び出し側から与えられる新着順に並んだPosts %>
<hr class="border-black border-1">
<div class="text-center">
  関連の投稿は
  <% relation_posts.each do |post|  %>
    『<%= link_to(post.title,post_path(post.id)) %>』
  <% end %>
  です。
</div>